{% extends "mainpage.html"%}

{% block main_container %}

<main class="container">
    <div>
        <h2>{{ news.news_title }}</h2>
    </div>
    <div class="row">
        <div class="col-12 text-end">
            언론사명 : {{ news.news_paper }}
        </div>
        <div class="col-12 text-end">
            날짜 : {{ news.news_when }}
        </div>
    </div>
    <hr>
    <h3>
        내용
    </h3>
    <div class="">
        <p class="lead">{{ news.news_contents }}</p>
    </div>
    <hr>
    <table>
        <tr>
            <td> 뉴스 링크 : </td>
            <td>
                <a href="{{ news.news_url }}">{{ news.news_url }}</a>
            </td>
        </tr>
    </table>
    <hr>
    <div class="row">
        <div class="col-12 text-end">
            <a href="/trend/trend_news" class="btn btn-primary">목록</a>
        </div>
    </div>
</main>
{% endblock %}