{% extends "mainpage.html"%}

{% block main_container %}

<h2>희귀질환정보</h2>

<table>
  <tr>
    <td>항목분류</td>
    <td>
      <div>특정감염성(A00-B99)</div>
      <div>신생물(C00-D48)</div>
      <div>혈액조혈기관(D50-D89)</div>
      <div>내분비,영양(E00-E90)</div>
      <div>정신및행동(F00-F99)</div>
      <div>신경계통질환(G00-G99)</div>
      <div>눈및부속기관(H00-H59)</div>
      <div>순환기계통(I00-I99)</div>
      <div>호흡기계통(J00-J99)</div>
      <div>소화기계통(K00-K93)</div>
      <div>피부및조직(L00-L99)</div>
      <div>근육골격계통(M00-M99)</div>
      <div>비뇨생식(N00-N99)</div>
      <div>출생전후기(P00-P96)</div>
      <div>선천기형변형(Q00-Q99)</div>
      <div>코드 없음</div>
    </td>
  </tr>
</table>

<div> ※ 희귀질환정보는 참고사항으로 내용에 대한 법적인 책임이 없음을 알려드립니다. 자세한 내용은 전문의와 상의하시기 바랍니다. </div>
<div> 희귀질환정보에 게재된 질환명은 [한국표준질병 사인분류]에 의거하여 기록하였습니다. </div>

<div>
  <div>특정 감염성 및 기생충성 질환(A00-B99)</div>
  <div>
    <button>엑셀다운로드</button>
  </div>

  <form action="">
    <!-- 검색 항목 추가 필요 -->
    <h2>검색</h2>
    <div class="row">
      <div class="col-2">
        <select class="form-control" name="key_name">
          <option value="dise_name_kr" {{ 'selected' if request._query_params.key_name=='dise_name_kr' else '' }}>희귀 질환 명</option>
          <option value="dise_KCD_code" {{ 'selected' if request._query_params.key_name=='dise_KCD_code' else '' }}>KCD코드</option>
          <option value="dise_spc_code" {{ 'selected' if request._query_params.key_name=='dise_spc_code' else '' }}>산정특례 특정기호</option>
        </select>
        
      </div>
      <div class="col-6">
        <input class="form-control" placeholder="Enter Search!" name="search_word" value="{{request._query_params.word}}">
      </div>
      <div class="col-4">
        <button type="submit" class="btn btn-primary" formaction="/search/search_raredisease"
          formmethod="get" >검색</button>
      </div>
    </div>
    <h2>희귀병 리스트</h2>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>번호</th>
          <th>병명(한국어)</th>
          <th>병명(영어)</th>
          <th>KCD코드</th>
          <th>산정특례 특정기호</th>
          <th>항목분류</th>
          <th>의료비지원</th>
          <th>상세정보</th>

        </tr>
      </thead>

    </table>
  <div style="text-align: center;"><h3>검색 결과를 찾을 수 없습니다.</h3></div>

  </form>
</div>
{% endblock %}