{% extends "mainpage.html"%}

{% block main_container %}
<div id="map" style="width: 600px; height: 600px;"></div>

<script>
  function initMap() {
    // 지도 초기화
    const map = new google.maps.Map(document.getElementById("map"), {
      center: { lat: 37.552408, lng: 126.9794067 },
      zoom: 13,
    });
}
  window.onload = initMap;
</script>
<!-- Google Maps API Script -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAGf8qN6SIvO-f3UFzQx6fQddEoXgLkGuM&callback=initMap"></script>

{% endblock %}