{% extends "mainpage.html" %}

{% block main_container %}
<div class="container">
  <div class="row">
    <div class="col-6" id="map" style="width: 600px; height: 600px;"></div>
    <div class="col-6">
        <label for="search-input">검색할 장소를 입력하세요</label>
        <input type="text" id="search-input"  class="controls" placeholder="입력하기">
        <button onclick="searchPlaces()">Search</button>
      <div class="row">
        <table id="places"> 
          <thead>
            <tr>
              <th>Name</th>
              <th>Address</th>
            </tr>
          </thead>
          <tbody id="tbody"></tbody>
        </table>
      </div>
  </div>
</div>
<script>
let map, infoWindow, service, pos;

function initMap() {
  var infowindow = new google.maps.InfoWindow();

  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(position) {
      pos = {
        lat: position.coords.latitude,
        lng: position.coords.longitude
      };

      map = new google.maps.Map(document.getElementById('map'), {
        center: pos,
        zoom: 15,
      });
    }, function() {
      handleLocationError(true, infowindow, map.getCenter());
    });
  } else {
    handleLocationError(false, infowindow, map.getCenter());
  }
}

function handleLocationError(browserHasGeolocation, infoWindow, pos) {
  pos = {lat: 37.552408, lng: 126.9794067};
  map = new google.maps.Map(document.getElementById('map'), {
    center: pos,
    zoom: 15,
  });

  infoWindow.setPosition(pos);
  infoWindow.setContent(browserHasGeolocation ?
                        'Error: The Geolocation service failed.' :
                        'Error: Your browser doesn\'t support geolocation.');
  infoWindow.open(map);
}

function clearTable() {
  var table = document.getElementById('places').getElementsByTagName('tbody')[0];
  while (table.hasChildNodes()) {  
    table.removeChild(table.firstChild);
  }
}

function callback(results, status) {
  console.log(results);
  if (status === google.maps.places.PlacesServiceStatus.OK) {
    for (let i = 0; i < results.length; i++) {
      createMarker(results[i]);
      addPlaceToTable(results[i]);
    }
  }
}

function searchPlaces() {
  const placeType = document.getElementById('search-input').value;

  var tableBody = document.getElementById('tbody');
  tableBody.innerHTML = '';

  const request = {
    location: pos,
    radius: '1000',
    query: [placeType],
    // fields:photos,formatted_address,name,rating,opening_hours,geometry
  };

  service = new google.maps.places.PlacesService(map);
  service.textSearch(request, callback);
}

function createMarker(place) {
  if (!place.geometry || !place.geometry.location) return;
  const marker = new google.maps.Marker({
    map,
    position: place.geometry.location,
  });

  google.maps.event.addListener(marker, 'click', function() {
    infowindow.setContent(place.name);
    infowindow.open(map, this);
  });
}

function addPlaceToTable(place) {
  var table = document.getElementById('places').getElementsByTagName('tbody')[0];
  var row = table.insertRow(-1);

  var nameCell = row.insertCell(0);
  var addressCell = row.insertCell(1);

  nameCell.innerHTML = place.name;
  addressCell.innerHTML = place.formatted_address;
}

window.onload = function() {
  initMap();
}
</script>
<!-- Google Maps API Script -->
<script async src="https://maps.googleapis.com/maps/api/js?key={{ API_KEY }}&libraries=places&callback=initMap"></script>
{% endblock %}
