{% extends "user/user_mypage.html"%}

{% block user_main %}

<div class="d-flex gap-2 justify-content-start py-5">
    <a href="#" >
        <span class="badge d-flex p-2 align-items-center text-emphasis bg-primary rounded-pill" >
            <span class="px-1">전체</span>
        </span>
    </a>
    <a href="">
        <span class="badge d-flex p-2 align-items-center text-primary-emphasis bg-light rounded-pill">
            <span class="px-1" name="type" value="download_app">병원후기</span>
        </span>
    </a>
    <a href="#">
        <span class="badge d-flex p-2 align-items-center text-primary-emphasis bg-light rounded-pill">
            <span class="px-1" name="type"  value="join">커뮤니티</span>
        </span>
    </a>
    <a href="#">
        <span class="badge d-flex p-2 align-items-center text-primary-emphasis bg-light rounded-pill">
            <span class="px-1" name="type"  value="newsletter">QnA</span>
        </span>
    </a>
</div>

<table class="table">
    <thead>
      <tr>
        <th scope="col">구분</th>
        <th scope="col">제목</th>
        <th scope="col">작성일</th>
        <th scope="col">조회수</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>구분 자리</td>
        <td>제목 자리</td>
        <td>작성일 자리</td>
        <td>조회수 자리</td>
      </tr>
    </tbody>
  </table>


{% endblock user_main %}

