{% extends "/manag/manag_template.html"%}

{% block main %}
<form action="">
{{ User }}

<div>ID : {{ User.user_ID }}</div>
<div>비밀번호 : {{ User.user_pswd }}</div>
<div>E-Mail : {{ User.user_email }}</div>
<div>이름 : {{ User.user_name }}</div>
<div>전화번호 : {{ User.user_phone }}</div>
<div>생년월일 : {{ User.user_birth }}</div>
<div>우편번호 : {{ User.user_postcode }}</div>
<div>주소 : {{ User.user_address }}</div>
<div>상세주소 : {{ User.user_detailed_address }}</div>

<!-- </div>
<hr>
<textarea type="" class="form-control text-box" name="ques_answer" id="content" placeholder="답글은 최대 1개씩만 달 수 있습니다. 이 부분은 나중에 관리자 페이지로 이동할 예정"></textarea>
<br>
<div style="text-align: end;">
<button class="btn btn-primary" type="submit" formaction="/other/other_reply/{{User.id}}" formmethod="post">답글달기</button>
<button class="btn btn-danger" type="submit" formaction="/other/other_delete/{{User.id}}" formmethod="post">글 삭제</button>
</div> -->
</form>
{% endblock %}
